<p id="notice"><%= notice %></p>

<h1>Testmouses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testmouses.each do |testmouse| %>
      <tr>
        <td><%= link_to 'Show', testmouse %></td>
        <td><%= link_to 'Edit', edit_testmouse_path(testmouse) %></td>
        <td><%= link_to 'Destroy', testmouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testmouse', new_testmouse_path %>
